<h1>Bachelorette Name: <%= @bach.name %></h1>
<h3><%= @bach.season_number %> - <%= @bach.description %></h3>
<p><%= link_to 'Contestants', "/bachelorettes/#{@bach.id}/contestants" %></p>
<h4>Average age of contestants: <%= number_with_precision @bach.average_age, :precision => 1 %></h4>
